<!-- Main Header-1 Start -->
<header class="main-header">
    <div class="header-fix-wrap header-1 is-sticky">
        <div class="container-fluid rel-div">
            <div class="logo">
                <a href="index.html"> <img alt="" src="assets/images/logo/logo-1.png" /> </a>
                <span>TRAVEL AGENCY</span>
            </div>
            <div class="responsive-toggle fa fa-bars"> </div>

            <!-- Main Header Start -->
            <div class="menu-bar">
                <div class="responsive-toggle fa fa-bars"> </div>
                <nav id="primary-navigation">
                    <ul class="primary-navbar">
                        <li class="dropdown">
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>

                        </li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true"><i class="far fa-heart"></i></a>
                            <ul class="dropdown-menu">
                                <p>Collect your favorite places, and we will help you build a trip for them</p>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true"><i class="fas fa-th"></i></a>
                            <ul class="dropdown-menu">
                                <p>Your trips will show here.</p>
                                <li><a href="listing-detail-1.html">Create new Trip </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true"><i class="far fa-question-circle"></i> </a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio-col-four.html">FAQ </a></li>
                                <li><a href="portfolio-col-three.html"> Give Feedback</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Log In</a></li>

                        <li style="padding: 0px 0px 0px 42px!important;">
                            <a href="" type="button" class="btn btn-primary">Start Planning</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- / Main Header Ends -->
        </div>
    </div>
</header>
<!-- / Main Header-1 Ends -->