
  
   <!-- Main-Slider-1 Start -->
   <div class="main-slider-1">
    <div class="main-slider owl-carousel dots-1" id="slider-main">
        <div class="item">
            <img alt="" src="assets/images/sliders/slider.jpg" />                            
        </div>
        <div class="item">
            <img alt="" src="assets/images/sliders/slider1.jpg" />
        </div>
        <div class="item">
            <img alt="" src="assets/images/sliders/slider2.jpg" />
        </div>
    </div>
    <div class="container">
        <div class="block-box">
            <ul class="search-tabs">
                <li class="active">
                    <img src="assets/images/icons/icon-1.png" alt="" />
                    <a href="#search-1" data-toggle="tab"> 
                        Trip Plan <span class="fsz-13">Search here Trip your plan</span>
                    </a>
                    <i class="fa fa-building-o icon theme-color-bg"></i>
                    <h3 class="text-white">The new way to plan your next trip</h3>
                    <p class="text-white">Create a fully customized
                        day by day itinerary for free</p>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-1">
                    <div class="search-wrap">
                        <form role="form" class="search-form" method="post">
                            <div class="row">                                            
                                <div class="form-group col-sm-12">
                                    <input placeholder="Destinations or hotel name..." required=""  class="form-control name input-your-name" type="text">                                               
                                    <span class="fa fa-user theme-color"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="dpd1 form-control" data-date-format="dd-mm-yyyy" placeholder="Check in" type="text">                                                    
                                    <span class="fa fa-calendar theme-color"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input class="dpd2 form-control" data-date-format="dd-mm-yyyy" type="text" placeholder="Check out">                                                    
                                    <span class="fa fa-calendar theme-color"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="search-selectpicker selectpicker-wrapper">
                                        <select class="selectpicker" data-width="100%" data-toggle="tooltip">
                                            <option>Standart Room</option>
                                            <option>Dulex Room</option>
                                            <option>Premium Room,</option>
                                            <option>Standart Room</option>
                                        </select>
                                    </div>   
                                </div>
                                <div class="form-group col-sm-6 persons clearfix">
                                    <div class="search-selectpicker selectpicker-wrapper">
                                        <select class="selectpicker" data-width="100%" data-toggle="tooltip">
                                            <option>1 Adults</option>
                                            <option>2 Adults</option>
                                            <option>3 Adults</option>
                                            <option>4 Adults</option>
                                        </select>
                                    </div>    
                                    <div class="search-selectpicker selectpicker-wrapper">
                                        <select class="selectpicker" data-width="100%" data-toggle="tooltip">
                                            <option>2 Kids</option>
                                            <option>3 Kids</option>
                                            <option>4 Kids</option>
                                            <option>5 Kids</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">                                               
                                    <button class="theme-btn" data-width="100%" type="submit"> SEARCH NOW </button>                                            
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- / Main-Slider-1 Ends -->   

