<!-- Popular Destination Start -->
<section class="sec-space popular-destination white-color"
    style=" background-image: url(assets/images/sliders/footer-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-wrap-2 left">
                    <h4 class="white-color">Quick Links of Inspirock </h4>
                </div>
            </div>
            <div class="col-sm-6 right">
                <ul class="list-items social-icons-1">
                    <li> <a href="#" class="fab fa-facebook"></a> </li>
                    <li> <a href="#" class="fab fa-twitter"></a> </li>
                    <li> <a href="#" class="fab fa-instagram"></a> </li>
                    <li> <a href="#" class="fab fa-youtube"></a> </li>
                    <li> <a href="#" class="fab fa-google-plus-square"></a> </li>
                </ul>
            </div>
        </div>

        <div class="tab-content feature-1">
            <div role="tabpanel" class="tab-pane fade in active" id="popular-1">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="hotels-list">

                            <ul class="list-unstyled">
                                <li> <a href="#">About us</a> </li>
                                <li> <a href="#">Partner with us</a> </li>
                                <li> <a href="#">Inspirock on LinkedIn</a> </li>
                                <li>Videos</li>
                                <li>Career</li>
                            </ul>
                            <h2 class="title-1 rotated-text"> <span class=""> INSPIROCK</span> </h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="hotels-list">
                            <ul class="list-unstyled">
                                <li> <a href="#">Trips by other users</a> </li>
                                <li> <a href="#">Destinations</a> </li>
                                <li> <a href="#">Credits</a> </li>
                            </ul>
                            <h2 class="title-1 rotated-text"> <span class="">BROWSE </span> </h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="hotels-list">
                            <ul class="list-unstyled">
                                <li> <a href="#">FAQ</a> </li>
                                <li> <a href="#">Contact us</a> </li>
                                <li> <a href="#">Privacy policy</a> </li>
                                <li> <a href="#">Cookie policy</a> </li>
                                <li> <a href="#">Copyright policy</a> </li>
                                <li> <a href="#">Terms of use</a> </li>
                            </ul>
                            <h2 class="title-1 rotated-text"> <span class="">HELP </span> </h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="hotels-list">
                            <ul class="list-unstyled">
                                <li> <a href="#">Currency: Indian Rupee</a><br>
                                    <a href="">Change</a>
                                </li>
                                <li> <a href="#">Language: English</a><br>
                                    <a href="">Change</a>
                                </li>
                                <li>Visit our blogs</li>
                            </ul>
                            <h2 class="title-1 rotated-text"> <span class="">SETTING </span> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Popular Destination Ends -->
<!-- FOOTER -->
<footer class="page-footer">
    <!-- Footer menu Start -->
    <div class="text-center">
        <div class="container footer-menu">
            <ul class="primary-navbar">
                <li><a href="#">© 2022 Inspirock ® - All rights reserved </a></li>
                <li><a href="#">This product includes GeoLite2 data created by MaxMind, available from
                        https://www.maxmind.com </a></li>
                <li><a href="#"> Contains information from Openflights Route database, which is made available here
                        under the Open Database License (ODbL) </a></li>
                <li><a href="#">Powered By Google </a></li>
            </ul>
        </div>
    </div>
    <!-- / Footer Menu Ends -->

</footer>
<!-- /FOOTER -->