<!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> -->

<!-- Blog Start -->
<section class="light-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 travel-card">
				<div class="home_content">
					<header class="top-bar">
						<div class="block-box">
							<div class="left">
								<div class="top-nav">
									<button type="submit" class="primary-btn-small theme-btn"> Signup to Save</button>
								</div>
								<div class="top-nav">
									<button type="submit" class="secondary-btn-small"><i class="fas fa-share"></i>&nbsp;
										Share</button>
								</div>
							</div>
							<div class="right">
								<div class="top-nav">
									<button type="submit" class="dark-btn-small"><i
											class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Get App</button>
								</div>
								<div class="top-nav">
									<div class="dropdown">
										<button class="btn btn-light dropdown-toggle" type="button"
											id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-ellipsis-h"></i>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#"><i class="fas fa-cog"></i>&nbsp;Trip
												Setting</a>
											<a class="dropdown-item" href="#"><i
													class="fas fa-question"></i>&nbsp;FAQ</a>
											<a class="dropdown-item" href="#"><i class="fas fa-print"></i>&nbsp;Print
												this Trip</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</header>
					<div class="sidebar">
						<div class="logo_content">
							<div class="logo">
								<div class="logo_name">Code4education</div>
							</div>
							<i class='bx bx-menu' id="btn"></i>
						</div>
						<ul class="nav_list">
							<nav class="navigation" id="mainNav">
								<li>
									<a class="navigation__link" href="#travel"><i class="far fa-calendar-alt"></i> </a>
								</li>
								<li>
									<a class="navigation__link" href="#date-route">
										<i class="fas fa-cloud-sun-rain"></i>
										<span class="links_name">Dashboard</span>
									</a>
									<span class="tooltip">Dashboard</span>
								</li>
								<li>
									<a class="navigation__link" href="#2">
										<i class='bx bx-user'></i>
										<span class="links_name">User</span>
									</a>
									<span class="tooltip">User</span>
								</li>
								<li>
									<a class="navigation__link" href="#3">
										<i class='bx bx-chat'></i>
										<span class="links_name">Messages</span>
									</a>
									<span class="tooltip">Messages</span>
								</li>
								<li>
									<a class="navigation__link" href="#4">
										<i class='bx bx-pie-chart-alt-2'></i>
										<span class="links_name">Analytics</span>
									</a>
									<span class="tooltip">Analytics</span>
								</li>
								<li>
									<a class="navigation__link" href="#5">
										<i class='bx bx-folder'></i>
										<span class="links_name">File Manager</span>
									</a>
									<span class="tooltip">File Manager</span>
								</li>
								<li>
									<a class="navigation__link" href="#6">
										<i class='bx bx-cart-alt'></i>
										<span class="links_name">Order</span>
									</a>
									<span class="tooltip">Order</span>
								</li>
								<li>
									<a class="navigation__link" href="#7">
										<i class='bx bx-heart'></i>
										<span class="links_name">Saved</span>
									</a>
									<span class="tooltip">Saved</span>
								</li>
								<li>
									<a class="navigation__link" href="#8">
										<i class='bx bx-cog'></i>
										<span class="links_name">Setting</span>
									</a>
									<span class="tooltip">Setting</span>
								</li>
							</nav>
						</ul>


					</div>
					<div class="page-section  padding-0" id="travel">
						<div class="travel-images">
							<img src="https://wallpaperbat.com/img/216547-mumbai-wallpaper.jpg">
						</div>
						<div class="PlanPageHeader__header d-flex flex-column justify-content-between">
							<div>
								<div class="mt-2">
									<div class="HoverTextInput__editableContainer HoverTextInput__lgContainer"><input
											type="text" placeholder="Enter a trip name"
											class="smartlook-show HoverTextInput__input HoverTextInput__lgInput PlanHeaderRedesign__title"
											value="Trip to Mumbai">
										<div
											class="HoverTextInput__dummyInput HoverTextInput__lgDummy rounded position-absolute d-flex flex-row align-items-center">
											<span class="PlanHeaderRedesign__title invisible">Trip to Mumbai</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp; 3/1</div>
								<div class="col-md-6 text-right">
									<i class="fas fa-user-circle font-30 text-dark" data-toggle="tooltip"
										data-placement="top" title="Tooltip on top"></i>
									<i class="fas fa-user-plus font-25 text-secondary ml-12"></i>
								</div>
							</div>
						</div>
						<section class="sec-space-top  pb-5 bg-gray">
							<div class="page-section container">
								<div class="row">
									<div class="col-6">
										<h3 class="mb-3">Explore</h3>
									</div>
									<div class="col-6 text-right">
										<a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2"
											role="button" data-slide="prev">
											<i class="fa fa-arrow-left"></i>
										</a>
										<a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2"
											role="button" data-slide="next">
											<i class="fa fa-arrow-right"></i>
										</a>
									</div>
									<div class="col-12">
										<div id="carouselExampleIndicators2" class="carousel slide"
											data-ride="carousel">
											<div class="carousel-inner">
												<div class="carousel-item active">
													<div class="row">
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>
																</div>
															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>

																</div>
															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>

																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="carousel-item">
													<div class="row">
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>
																</div>
															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>
																</div>
															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>

																</div>
															</div>
														</div>

													</div>
												</div>
												<div class="carousel-item">
													<div class="row">

														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>

																</div>

															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>

																</div>
															</div>
														</div>
														<div class="col-md-4 mb-3 left-right-10">
															<div class="card">
																<img class="img-fluid bod-radius-10" alt="100%x280"
																	src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
																<div class="card-body">
																	<h4 class="card-title-travel">Special title
																		treatment</h4>
																	<p class="card-text">With supporting text below as
																		natural.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

					</div>
					<!-- / Top Header-1 Ends -->
					<div class="page-section hero " id="date-route">
						<div class="container">
							<div class="ptb-30">
								<div class="row no-gutters d-print-none">
									<div class="col-sm-8">
										<div class="AddReservationButtons d-print-none p-3 h-100">
											<span class="font-weight-bold font-size-16 text-dark">Reservations and
												attachments</span>
											<div class="d-flex align-items-baseline mt-2">
												<div role="button" tabindex="0" class="flex-column align-items-center">
													<span
														class="d-flex justify-content-center align-items-center mt-1 text-dark">
														<i class="fas fa-fighter-jet"></i>
													</span>
													<span class="IconAndTextButton__text text-center">Flights</span>
												</div>
												<div class="AddReservationButtons__separator mx-2"></div>
												<div role="button" tabindex="0"
													class="d-flex flex-column align-items-center">
													<span
														class="d-flex justify-content-center align-items-center mt-1 text-dark">
														<i class="fas fa-bed"></i></span>
													<span class="IconAndTextButton__text text-center">Lodging</span>
												</div>
												<div class="AddReservationButtons__separator mx-2"></div>
												<div role="button" tabindex="0"
													class="d-flex flex-column align-items-center">
													<span
														class="d-flex justify-content-center align-items-center mt-1 text-dark">
														<i class="fas fa-car"></i>
													</span>
													<span class="IconAndTextButton__text text-center">Rental cars</span>
												</div>
												<div class="AddReservationButtons__separator mx-2"></div>
												<div role="button" tabindex="0"
													class="d-flex flex-column align-items-center">
													<span
														class="d-flex justify-content-center align-items-center mt-1 text-dark">
														<i class="fas fa-subway"></i>
													</span>
													<span class="IconAndTextButton__text text-center">Train</span>
												</div>
												<div class="AddReservationButtons__separator mx-2"></div>
												<div role="button" tabindex="0"
													class="d-flex flex-column align-items-center">
													<span
														class="d-flex justify-content-center align-items-center mt-1 text-dark">
														<i class="fas fa-bus"></i>
													</span>
													<span class="IconAndTextButton__text text-center">Bus</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="PlanBoard__budgetSnapshot ml-sm-3 mt-2 mt-sm-0 align-items-stretch">
											<div class="BudgetSnapshot p-3 h-100">
												<div class="font-weight-bold pb-1 ">Budgeting</div>
												<div class="text-secondary font-size-24">$0.00</div>
												<div>
													<h6><span class="">View details</span></h6>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3 pt-30">
										<button type="submit" class="primary-btn-small theme-btn"><i
												class="fas fa-plus"></i>&nbsp;&nbsp; New List</button>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="page-section border-top-bottom-15" id="2">
						<div class="container">
							<div class="ptb-30">
								<div class="row">
									<div class="col-md-9">
										<h4 class="itinerary-text">Itinerary</h4>
									</div>
									<div class="col-md-3">
										<button type="submit" class="secondary-btn-small"><i
												class="far fa-calendar-alt"></i>&nbsp; 2/1 - 2/2</button>
									</div>
								</div>
								<div class="row pt-10">
									<div class="col-md-9">
										<h5><strong>Tuesday, February 1st</strong></h5>
										<p>Sub Heading</p>


									</div>
									<div class="col-md-3" align="right">
										<div class="right">
											<div class="dropdown">
												<button class="btn btn-light dropdown-toggle" type="button"
													id="dropdownMenuButton" data-toggle="dropdown"
													aria-expanded="false">
													<i class="fas fa-ellipsis-h"></i>
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Delete</a>
													<a class="dropdown-item" href="#">Deselect All</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row pt-10">
									<div class="col-md-10">
										<div class="input-container">
											<i class="fas fa-map-marker-alt icon-place"></i>
											<input class="input-field" type="text" placeholder="Add a Place" name="">
										</div>
									</div>
									<div class="col-md-2 padding-0">
										<button type="button" class="btn btn-info">Note</button>
									</div>
									<div class="col-md-12">
										<h6>Recommended places</h6>

									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="page-section" id="3">

					</div>
					<div class="page-section" id="4">

					</div>
					<div class="page-section" id="5">

					</div>
					<div class="page-section bg-gray">
						<div class="container">
							<div class="ptb-30">
								<div class="row">
									<div class="col-md-12">
										<p>Need help or have suggestions?</p>
										<p><a href="mailto:admin@wanderlog.com">Get in touch with the Wanderlog team at
												admin@wanderlog.com</a></p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6 padding-0 travel-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.4528149594053!2d77.09776911489156!3d28.556162382448058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b85fc2a2d89%3A0xbef376182c43ed9d!2sIndira%20Gandhi%20International%20Airport!5e0!3m2!1sen!2sin!4v1643795438369!5m2!1sen!2sin"
				width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			<div class="map-card">
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<div class="col-md-12">
						<h6 class="font-weight-900"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Charminar</h6>
						<div><span>Iconic 16th-century mosque with 4 grand arches, 48m tall minarets and views over the
								Laad Bazaar.</span></div>
						<div class="mtt-5">
							<span
								class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Monument</span>
							<span class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Points of
								Interest &amp; Landmarks</span>
							<span class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Sights
								&amp; Landmarks</span>
							<span
								class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Historical
								place</span>
						</div>
						<div class="mtt-5">
							<span class="text-warning"><i class="fas fa-star"></i>&nbsp; 4.5</span>
						</div>
						<div class="mtt-5">
							<span class="text-secondary"><i
									class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;<span>Charminar Rd, Char Kaman, Ghansi
									Bazaar, Hyderabad, Telangana 500002, India</span></span>
						</div>
						<div class="mtt-5">
							<span class="text-secondary"><i class="far fa-clock"></i>&nbsp;&nbsp; Tuesday: 9AM –
								5:30PM</span>
						</div>
						<div class="mtt-5">
							<span class="text-secondary"><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp; People
								typically spend 20 min here</span>
						</div>
						<div class="mtt-5">
							<span class="text-secondary"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;<a href=""
									class="text-web">+91 40 6674 5986</a></span>
						</div>
						<div class="mtt-5">
							<span class="text-secondary"><i class="fas fa-globe-americas"></i>&nbsp;&nbsp; <a href=""
									class="text-web">www.almostindia.com</a></span>
						</div>
					</div>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / Blog Ends -->