<div class="content">
  <!--Breadcrumb Section Start-->
  <section class="breadcrumb-bg bg-4 white-color" style="background-image: url('assets/images/sliders/breadcrum.jpg');">
    <div class="site-breadcumb ">
      <div class="container ">
        <h2 class="section-title">2 days in North America</h2>
        <span>
          <h4 class="section-date">21-Jan-2022 - 22-Jan-2022</h4><button type="button" class="btn btn-edit"><i
              class="fas fa-edit"></i>&nbsp;&nbsp;Edit</button>
        </span>
      </div>
    </div>
  </section>
  <!--Breadcrumb Section End-->
</div>
<div class="fixme ">
  <div class="nav">

    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="#" target="_blank">Route</a>
      <a href="#" target="_blank">
        <div class="dropdown">
          <a href="">Day by day&nbsp;<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a href="#">Timeline</a>
            <a href="#">Calendar</a>
            <a href="#">Map</a>
          </div>
        </div>
      </a>
      <a href="#" target="_blank">Where to stay</a>
      <a href="#" target="_blank">Checklist</a>
    </div>
  </div>
</div>





<!-- Listing Start -->
<section class="listing-wrap pt-50">
  <div class="container">
    <div class="clearfix">
      <div class="col-md-9 col-sm-8 pt-50 style-one no-padding">
        <div class="row">
          <div class="col-md-12">
            <ul class="trip-timeline">
              <li>
                <div class="empty-trip-icon"></div>
                <div class="trip-label empty"> <span>Start: Ranchi</span> </div>
              </li>
              <li>
                <div class="plane-trip-icon"><i class="fas fa-plane fa-flip-270"></i></div>
                <div class="trip-label">
                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropdownpbtn">Fly &nbsp;<i
                        class="fas fa-angle-right"></i></button>
                    <div id="myDropdown" class="dropdown-content" id="trip-content">
                      <div class="card">
                        <h4><strong>Ranchi to Sydney</strong></h4>
                        <hr class="divider-1">
                        <div class="row">
                          <div class="col-md-1">
                            <i class="fas fa-check"></i>
                          </div>
                          <div class="col-md-10">
                            <span>Fly</span>
                            <p><i class="fas fa-check"></i> 22 h 30 min (flight time: 18 h 45 min)</p>
                          </div>
                        </div>
                        <hr class="divider-1">
                        <a href="">Edit Travel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trip-icon bg-green"> 1</div>
                <div class="trip-label">
                  <h2><a href="javascript:void(0);">
                      New York City
                    </a></h2>
                </div>
              </li>
              <li>
                <div class="plane-trip-icon"><i class="fas fa-plane"></i></div>
                <div class="trip-label">
                  <h2>Fly</h2>
                </div>
              </li>
              <li>
                <div class="empty-trip-icon"></div>
                <div class="trip-label empty"> <span>End: Ranchi</span> </div>
              </li>
            </ul>
            <button class="theme-btn btn-edit" type="submit" align="center"> Edit</button>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 pt-50 no-padding listing-sidebar">
        <div class="widget-map">
          <div class="contact-map">
            <div id="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30711292.110871688!2d64.43748693609942!3d20.01115759964804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1642605650619!5m2!1sen!2sin"
                width="265" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- / Listing Ends -->


<section class="sec-space latest-news-one">
  <div class="container">
    <div class="trip-plan-card">
      <div class="row">
        <div class="col-md-8">
          <h3><strong> New York City</strong> </h3>
        </div>
        <div class="col-md-4" align="right">
          <button class="theme-btn btn-2" type="submit" align="center"> See day by day plan</button>


        </div>
      </div>
      <hr class="divider-1">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="img rel-div">
            <img src="assets/images/sliders/no-img.png" alt="">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="info">
            <h6 class="fsz-20"> <strong>Be Apple</strong></h6>
            <p class="trip-text">Writer Pearl Buck once called New York City “a place apart,” and this giant urban
              center remains unlike any other in the world. To see where to stay, ratings, other places to visit, and
              other tourist information, you can read our New York City itinerary planner.<br>

              Ranchi, India to New York City is an approximately 23-hour flight. The time zone difference when traveling
              from Ranchi to New York City is minus 10.5 hours. Traveling from Ranchi in January, expect New York City
              to be cooler, temps between 5°C and -5°C. On the 21st (Fri), you'll travel back home.</p>
            <a href="#" class="all-show">Read More</a>
            <h5 class="title-destination"><strong>Things to do in <span>New York City</span></strong></h5>
            <ul id="menu">
              <li>Nightlife · Parks · Tours · Shopping</li>

            </ul>


            <hr class="divider-1">
            <h4><i class="fas fa-bed fsz-20"></i>&nbsp;&nbsp;<span>Find places to stay Jan 21 — 22:</span></h4>
            <div class="booking-options">
              <a href="https://www.booking.com/">
                <div class="booking-option text-link no-im-xu bookingDotComBookingService"
                  data-destination-id="62310363" data-provider="bookingDotComBookingService"
                  data-max-date-duration="30">
                  Hotels on Booking.com »
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- Travellers Choice Start -->
<section class=" travellers-choice">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3><strong> Add more destinations to your trip</strong> </h3>
      </div>
      <div class="col-md-4" align="right">
        <button type="button" class="btn btn-outline-dark">Explore all</button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="meso-wrap white-color">
          <div class="feature-2 flex-item mt-10">
            <img src="assets/images/tour/3.jpg" alt="">
            <div class="price-2">
              <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
              <span class="fsz-13">Tasmania</span>
            </div>
            <div class="flex-wrap">
              <div class="flex-caption middle info transition">
                <div class="price">
                  <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                  <span class="fsz-13">Sydney Australia</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                  place.</p>
              </div>
            </div>
            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="meso-wrap white-color">
          <div class="feature-2 flex-item mt-10">
            <img src="assets/images/tour/4.jpg" alt="">
            <div class="price-2">
              <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
              <span class="fsz-13">Tasmania</span>
            </div>
            <div class="flex-wrap">
              <div class="flex-caption middle info transition">
                <div class="price">
                  <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                  <span class="fsz-13">Sydney Australia</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                  place.</p>
              </div>
            </div>
            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="meso-wrap white-color">
          <div class="feature-2 flex-item mt-10">
            <img src="assets/images/tour/7.jpg" alt="">
            <div class="price-2">
              <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
              <span class="fsz-13">Tasmania</span>
            </div>
            <div class="flex-wrap">
              <div class="flex-caption middle info transition">
                <div class="price">
                  <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                  <span class="fsz-13">Sydney Australia</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                  place.</p>
              </div>
            </div>
            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
          </div>
        </div>
      </div>

    </div>
    <div class="text-center pb-50 pt-50">
      <button class="theme-btn btn-2" type="submit" align="center"> See day by day plan</button>
    </div>
  </div>
</section>
<!-- / Travellers Choice Ends -->