/* You can add global styles to this file, and also import other style files */

.page-section {
    height: 480px;
    width: 50%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 3em;
background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
    color: white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}

.navigation {
  position: fixed; 
    width: 30%;
    margin-left: 2%;
  background-color: #999;
  color: #fff;

  &__link {
        display: block;
    color: #ddd; 
    text-decoration: none;
    padding: 1em;
        font-weight: 400;
        
        &:hover {
            background-color: #aaa;
        }
    
       &.active {
           color: white;
             background-color: rgba(0,0,0,0.1);
       }
  }
}