<!-- Travellers Choice Start -->
<section class="sec-space travellers-choice">
    <div class="container">
        <h2 class="section-title"> Travelers’ Choice Award Winners. </h2>
        <div class="row">
            <div class="grid-sizer"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/1.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/2.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/3.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/4.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/7.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/6.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="meso-wrap white-color">
                        <div class="feature-2 flex-item">
                            <img src="assets/images/tour/8.jpg" alt="">
                            <div class="price-2">
                                <h2 class="title-3 no-margin"> <a href=""> NUNGWI BEACH </a> </h2>
                                <span class="fsz-13">Tasmania</span>
                            </div>
                            <div class="flex-wrap">
                                <div class="flex-caption middle info transition">
                                    <div class="price">
                                        <h2 class="title-3 no-margin"> <a href=""> DOWNTOWN </a> </h2>
                                        <span class="fsz-13">Sydney Australia</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectuerer delgado adipiscing diam dolorado the best
                                        place.</p>
                                </div>
                            </div>
                            <a href="#" class="title-1 rotated-text"> <span> SHARE THIS PLACE </span> </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- / Travellers Choice Ends -->





<!-- Detail Tabs Start -->
<section class="detail-tabs pt-50">
    <div class="container" id="tab-container">
        <ul class="list-inline">
            <li class="active"> <a href="#section-1" role="tab" data-toggle="tab"><img
                        src="assets/images/icons/research.png" style="height: 50px;">&nbsp;&nbsp;Research Trip</a> </li>
            <li> <a href="#section-2" role="tab" data-toggle="tab"><img src="assets/images/icons/trip-plan.png"
                        style="height: 50px;">&nbsp;&nbsp;Trip Planning </a> </li>
            <li> <a href="#section-3" role="tab" data-toggle="tab"><img src="assets/images/icons/complete-trip.png"
                        style="height: 50px;">&nbsp;&nbsp;Complete You Trip </a> </li>

        </ul>
    </div>
</section>
<!-- / Detail Tabs Ends -->
<div>
    <div class="tab-content">
        <!-- Overview Start -->
        <section id="section-1" class="sec-space overview tab-pane in active">
            <div class="container">
                <div class="col-md-6">
                    <div class="info">
                        <div class="col-md-12">
                            <span class="num one">1</span>
                        </div>
                        <h1 class=" pb-10">Research bot that works for you</h1>
                        <p class="fsz-16">Lorem Ipsum is simply dummy text of It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.:</p>

                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div class="img">
                        <img alt="" src="assets/images/gallery/370x470-1.jpg">
                    </div>
                </div>
            </div>
        </section>
        <!-- / Overview Ends -->

        <!-- Hotels and Rooms Start -->
        <section id="section-2" class="sec-space tab-pane">
            <div class="container">
                <div class="col-md-6">
                    <div class="info">
                        <h2 class=" pb-10"> Planning engine that helps you see & do more </h2>
                        <p class="fsz-16">Know better, book better and go better on the world’s largest travel site.
                            Browse
                            over 350 million candid reviews, opinions, and photos of hotels, restaurants, attractions,
                            and
                            more - all by travelers like you. </p>
                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div class="img">
                        <img alt="" src="assets/images/gallery/370x470-1.jpg">
                    </div>
                </div>
            </div>
        </section>
        <!-- / Hotels and Rooms Ends -->

        <!-- Hotels Review Start -->
        <section id="section-3" class="sec-space tab-pane">
            <div class="container">
                <div class="col-md-6">
                    <div class="info">
                        <h2 class=" pb-10"> Your complete trip in one place </h2>
                        <p class="fsz-16">Know better, book better and go better on the world’s largest travel site.
                            Browse
                            over 350 million candid reviews, opinions, and photos of hotels, restaurants, attractions,
                            and
                            more - all by travelers like you. </p>
                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div class="img">
                        <img alt="" src="assets/images/gallery/370x470-1.jpg">
                    </div>
                </div>
            </div>
        </section>
        <!-- / Hotels Review Ends -->
        <div class="text-center pb-50">
            <button class="theme-btn btn-2" type="submit" align="center"> Start Planning </button>
        </div>
    </div>
</div>






<!-- Ideal Trip Start -->
<section class="sec-space ideal-trip" style="background-image: url('assets/images/sliders/bg-img.jpg')!important;">
    <div class="container">
        <div class="title-wrap-2 wave-line-2 text-center">
            <!-- <img alt="" src="assets/images/icons/logo-icon.png" /> -->
            <h2 class="section-title white-color pt-10"> Find & book your ideal trip. </h2>
            <p> Up to 30% off with Vetrov Insider Deals! </p>
        </div>
        <!-- <img class="txt-img" alt="" src="assets/images/icons/text-2.png" /> -->
        <div class="row">
            <div class="col-md-3 col-sm-6 pb-50">
                <div class="info">
                    <img alt="" src="assets/images/icons/icon-6.png" />
                    <h2 class="title-2 white-color pt-10">1.245+ <span class="fsz-18"> Destinations </span> </h2>
                    <p>A touch paradise in paradise, lorem ipsum dolor sit amet</p>
                </div>
                <a href="#" class="all-show white-color">View all locations</a>
            </div>
            <div class="col-md-3 col-sm-6 pb-50">
                <div class="info">
                    <img alt="" src="assets/images/icons/icon-7.png" />
                    <h2 class="title-2 white-color pt-10">2.320+ <span class="fsz-18"> Hotels </span> </h2>
                    <p>The best hotel from 1 ~ 5 stars hotels around the world</p>
                </div>
                <a href="#" class="all-show white-color">View all hotels</a>
            </div>
            <div class="col-md-3 col-sm-6 pb-50">
                <div class="info">
                    <img alt="" src="assets/images/icons/icon-8.png" />
                    <h2 class="title-2 white-color pt-10">450+ <span class="fsz-18"> Flights </span> </h2>
                    <p>The lorem dolarado sit amet cheap flight up to 2.340 locations</p>
                </div>
                <a href="#" class="all-show white-color">View all flights</a>
            </div>
            <div class="col-md-3 col-sm-6 pb-50">
                <div class="info">
                    <p> <img alt="" src="assets/images/icons/icon-9.png" /> <span> Tips for your next vacations </span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna volutpat. </p>
                </div>
                <a href="#" class="all-show white-color">Read more</a>
            </div>
        </div>
    </div>
</section>
<!-- Ideal Trip Ends -->



<!-- Patners Start -->
<section class="sec-space-bottom pt-50 patners">
    <div class="container">
        <h3 align="center"><strong>Inspirock Trip Planner in the News</strong></h3>
        <div class="patners-wrap">
            <div class="owl-carousel patners-slider nav-2">
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-1.png " alt="" /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-2.png " alt="" /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-3.png " alt="" /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-1.png " alt="" /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-2.png " alt="" /> </a>
                </div>
                <div class="item">
                    <a href="#"> <img src="assets/images/icons/partner-3.png " alt="" /> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Patners Ends -->